doctype html
html
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(rel="stylesheet", href="static/css/quetzi.css")
        title Quetzi
    body
        .navbar-fixed
            nav
                .nav-wrapper
                    a.brand-logo(href="#!") &nbsp;Quetzi
                    a.sidenav-trigger(href="#" data-target="mobile-demo") #[i.material-icons menu]
                    ul.right.hide-on-med-and-down
                        li #[a(href="") Bits]        
                        li #[a(href="") Noticias]
                        li #[a(href="") Contacto]
                        li #[a(href="") Comienza]
        ul.sidenav#mobile-demo
            li #[a(href="") Bits]
            li #[a(href="") Noticias]
            li #[a(href="") Contacto]
            li #[a(href="") Comienza]
        section#quetzi
            .container
                .row
                    .col.s12.m6.center-align
                        img.responsive-img(src="static/images/quetzi.png" width=500)
                    .col.s12.m6
                        #my-botui-app
                            .botui-messages-container
                                .botui-message
                                    .botui-message-content.text
                                        span ¡Hola! Soy Quetzi
                                .botui-message
                                    .botui-message-content.loading
                                        .dot
                                        .dot
                                        .dot
                                .botui-message
                                    .botui-message-content.text
                                        span Estoy aquí para ayudar a la comunidad docente a crear contenidos geniales.
                                .botui-message
                                    .human.botui-message-content.text
                                        span ¿Cómo haces eso?
                                .botui-message
                                    .botui-message-content.loading
                                        .dot
                                        .dot
                                        .dot
                                .botui-message
                                    .botui-message-content.text
                                        span A través de #[strong bits] de información práctica que les muestra como desarrollar lo que imaginan.
                                .botui-message
                                    .human.botui-message-content.text
                                        span ¿Bits de información?
                                .botui-message
                                    .botui-message-content.loading
                                        .dot
                                        .dot
                                        .dot
                                .botui-message
                                    .botui-message-content.text
                                        span Revisa la sección de #[a(href="#bits") bits] para que veas de qué hablo.
                                .botui-message
                                    .botui-message-content.loading
                                        .dot
                                        .dot
                                        .dot
                                .botui-message
                                    .botui-message-content.text
                                        span No olvides suscribirte al #[a(href="#noticias") boletín de noticias] para mantenerte al tanto de mis novedades.

        section#bits
            .container
                .row.valign-wrapper
                    .col.s12.m6
                        p Los #[strong bits de información] son #[em micro] tutoriales, principalmente, de las herramientas de #[strong G Suite] para que los docentes desarrollen contenidos geniales.
                        p #[a.btn.btn-primary(href="bits") Conoce más]
                    .col.s12.m6
                        img.responsive-img(src="static/images/g_suite.png")

        section#news
            .container
                .row.valign-wrapper
                    .col.s12.m6.center-align
                        img.responsive-img(src="static/images/quetzi-03.png" width=400)
                    .col.s12.m6.right-align
                        p Mantente al tanto de actualizaciones y nuevas funcionalidades.
                        p #[a.btn.btn-primary(hre="newsletter" data-toggle="modal" data-target="#newsletterModal") Me quiero enterar de todo]

        section#contact
            .container
                .row
                    .col.s12.center-align
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quasi ipsa nam voluptas asperiores natus. Corrupti totam ducimus voluptas labore modi tempora? Nostrum incidunt odio atque saepe iure, quasi mollitia.




        script(src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
        script(src="static/js/quetzi.js")