body {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    background-color: #D9B13B;
}

nav.navbar.sticky-top.navbar-expand-lg a {
    color: #8C0F4A;
}

#navbarNav {
    text-align: right;
}

#navbarNav ul {
    display: inline-block;
    width: 100%;
}

#navbarNav ul >li {
    display: inline-block;
}

#navbarNav ul >li a.btn.btn-primary {
    background-color: #2A8C55;
    border-color: #2A8C55;
    color: #f7f8f8;
}

#navbarNav ul >li a.btn-primary:hover {
    color: #fff;
    border-color: #2A8C55;
}

ul.navbar-nav li.nav-item.active a {
    color: #2A8C55;
}

#quetzi {
    height: calc(100vh - 76px);
}

#my-botui-app .botui-container{
    background: #a0832c;
    border-radius: 6px;
    min-height: 500px;
}

.botui-message-content {
    background-color: #2A8C55;
    color: #f7f8f8;
}

.botui-message-content a {
    color: #f7f8f8;
    font-weight: bold;
    text-decoration: underline;
}

.human.botui-message-content {
    background-color: #8C0F4A;
}