body {
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    background: #d6d6d6;
    color: #0D0D0D;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Neucha', cursive;
}

a.btn,
a.btn-floating, .modal button.btn {
    text-transform: none;
    font-size: 1em;
    background-color: #8C0F4A;
}

a.btn i, .modal button.btn i {
    vertical-align: middle;
}

a.btn:focus,
a.btn-floating:focus,
a.btn:hover, .modal button.btn:hover {
    background-color: #8C0F4A;
}

nav {
    line-height: normal;
    background: none;
    box-shadow: none;
    padding-top: 10px;
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    z-index: 100;
}

nav.no-transparent {
    background: #d6d6d6;
    transition: background 1s ease;
}

nav svg {
    width: 2.8em;
    fill: #d98e32;
    vertical-align: middle;
}

nav a#brand {
    color: #0D0D0D;
    display: inline-block;
    vertical-align: top;
}

nav a#brand h1 {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    font-size: 2em;
}

nav ul {
    display: inline-block;
    margin-left: 30px;
}

nav ul li {
    display: inline-block;
}

nav ul li > a{
    display: block;
    padding: 1em 1em 0.5em 1em;
    font-size: 1em;
    color: #0D0D0D;
}

nav ul li > a:hover {
    background-color: transparent;
    border-bottom: 1px solid #d98e32;
    color: #d98e32;
}

nav a.btn {
    vertical-align: top;
    margin-top: 14px;
    float: right;
}

section {
    min-height: 100vmin;
}

section#main .container {
    margin-top: 200px;
    padding-top: 0;
}

section#main {
    position: relative;
    overflow: hidden;
}

section#main h1 {
    color: #D9B13B;
}

#back {
    position: absolute;
    top: -20%;
    right: -8%;
    z-index: -30;
    max-width: 1000px;
}

.animate {
    transform: translatex(0px);
    animation: float 10s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translatex(-30px);
    }

    50% {
        transform: translatex(30px);
    }

    100% {
        transform: translatex(-30px);
    }
}

section#newsletter {
    text-align: center;
    position: relative;
    overflow-x: hidden;
}

#backnews {
    position: absolute;
    transform: rotate(180deg);
    top: 25%;
    right: 10%;
    z-index: -30;
}

#contact {
    background: #d98e32;
    background: linear-gradient(to bottom, #d98e32 0%, #d9b13b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d98e32', endColorstr='#d9b13b', GradientType=0);
}

#contact a {
    color: #0D0D0D;
    text-decoration: underline;
}

#contact p img{
    vertical-align: middle;
}

#contact #mex18 a {
    font-family: 'Neucha', cursive;
    font-size: 1.4em;
    text-decoration: none;
}

.contact-header svg {
    fill: #8C0F4A;
    transition: fill 1s ease;
}